#signup_form{
color:blue;
float:right;
}
#header{
background-color:aqua;
height:100px;
width:100%;
float:left;"
}
#homepage_name{
background-color:lavender;
height:50px;
width:100%;
float:left;
}

#homepage_leftbox{
background-color:azure;
height:1500px;
width:15%;
float:left;
}
#homepage_rightbox{
background-color:beige;
height:1500px;
width:85%;
float:left;
}
#login{
float:right;
}
input{
margin-right:5px;
margin-top:5px;
margin-bottom:5px;

}
#footer{
background-color:#FFA500;
clear:both;
text-align:center;
}